.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  
  mat-card-header {
    justify-content: center;
    margin-bottom: 30px;
    
    mat-card-title {
      font-size: 1.8rem;
      font-weight: bold;
      color: #3f51b5;
    }
  }
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.action-btn {
  padding: 24px 0;
  font-size: 1.1rem;
  margin-top: 10px;
}